version: "3"

services:
  db:
    image: postgres:12.13-alpine
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=worker
      - POSTGRES_PASSWORD=worker
    ports:
      - 5432:5432
  app:
    image: registry.gitlab.com/kgrishchenko/exercise-2:{{ lookup("env","CI_COMMIT_SHORT_SHA") }}
    restart: always
    environment:
      - FLASK_APP=app.py
      - POSTGRESQL_URL=postgresql://worker:worker@db/app
    ports:
      - 5000:5000
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U worker  -d app"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - db
